*election.csv
*geography.kml
*manifesto*.csv
*structure.csv
*.ttl.bz2
*.ttl
!*schema.ttl
*aux-geo*.tsv
__pycache__
thesis/*
test.kml
!test/test.kml
test/out.tsv
test/env.csv
test/*.ttl
test/*.ttl.bz2
test/agency.txt
test/calendar_dates.txt
test/calendar.txt
test/election-aux.tsv
test/frequencies.txt
test/routes.txt
test/stops.txt
test/shapes.txt
test/stop_times.txt
test/trips.txt
test/write.txt
test/hello3.ttl.xyz
test/*.kmz-aux.tsv
test/*.kml-aux.tsv
test/kml_bad_name*
test/myKMLdataset-aux.tsv
output/*
!output/btw21.tsv
!output/btw21.rq
!output/ew24.tsv
!output/ew24.rq
!output/README.md
_test*.rq
.coverage
htmlcov/
!*manifesto-replacement*
!prefixes.ttl